.App {
  text-align: center;
}

.Cards {
  width: 25%;
  padding: 1px;
  float: left;
}

.Card {
  padding: 3px;
  border-color: black;
}

.Carddiv {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 3px;
}

.Cardimg {
  min-height: 100%;
  min-width: 100%;
}

.UnderHeader {
  margin-top: 55px;
}
