.App {
  text-align: center;
}

.Card {
  max-width: 24%;
  border: 1px solid black;
  border-radius: 0;
  float: left;
  overflow: hidden;
  margin: 2px;
}

.Cardpicture {
  height: 200px;
  border-radius: 0;
  overflow: hidden;
}

.UnderHeader {
  margin-top: 55px;
}
