.App {
  text-align: center;
}

.Card {
  max-width: 24%;
  border: 1px solid black;
  border-radius: 0;
  float: left;
  overflow: hidden;
  margin: 2px;
}

.Cardpicture {
  max-height: 190px;
  border-radius: 0;
  overflow: hidden;
}

.Cardtitle {
  color: blue;
}

.Cardtext {
  background-color: black;
  font-size: 13px;
  color: rgb(255, 51, 0);
  position: relative;
  padding-bottom: 0px;
  text-align: center;
}

.UnderHeader {
  margin-top: 55px;
}
